# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

others/examples-php/local/despacho_local.pdf
others/examples-php/local/cargo_despacho_local.pdf
others/examples-php/local/recepcion_local.pdf
others/examples-php/local/cargo_recepcion_local.pdf